In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import csv

In [3]:
data = pd.read_csv("data.csv", sep = '\t')

         100   3803
0        200   5466
1        300   6540
2        400   5193
3        500   7145
4        600   6577
...      ...    ...
5226  522800  34334
5227  522900  37274
5228  523000  35020
5229  523100  38065
5230  523200  36962

[5231 rows x 2 columns]

In [ ]:
n = data.iloc[:, 0]
t = data.iloc[:, 1]

In [ ]:
plt.plot(n, t)